<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand fw-semibold"><span class="text-info fw-bold">BCQ</span> Crypto</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLink="" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a routerLink="/article" class="nav-link">Article</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>