<section class="bg-light text-dark p-5 p-lg-5 pt-lg-5 test-sm-start"  id="home">
    <div class="container">
        <div class="row d-sm-flex align-items-center justify-content-between">
            <div class="col-lg-6 fw-semibold">
                <p class="text-info">Your Gateway To The Global Economy</p>
                <h1 class="fw-bold display-5">The Easiest and Most Powerful Crypto Wallet</h1>
                <p class="load my-4 fw-light">
                    Bitcoin uses peer-to-peer technology to operate with no central authority or banks, managing transactions and the issuing of bitcoins is carried out collectively by the network. 
                </p>
                <a routerLink="" class="btn btn-info text-light px-4">Get It Now</a>
            </div>
            <div class="col-lg-6 text-center">
                <img src="../../../../assets/images/home-features.png" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</section>