<section class="bg-light text-dark p-5 p-lg-5 pt-lg-5 test-sm-start"  id="home">
    <div class="container">
        <div class="row d-sm-flex align-items-center justify-content-between">
            <div class="col-lg-6 text-center">
                <img src="../../../../assets/images/home-about.png" class="img-fluid w-100" alt="">
            </div>
            <div class="col-lg-6 fw-semibold">
                <p class="text-info">Your Gateway To The Global Economy</p>
                <h1 class="fw-bold display-5">BCQ crypto lending, trading, and custody for worldwide</h1>
                <p class="load my-4 fw-light">
                    Institutional Markets is a full-stack crypto services platform that works worldwide with crypto-native businesses and institutional clients on trading, and custody solutions.    
                </p>
                <a routerLink="" class="btn btn-info text-light px-4">Learn More</a>
            </div>
        </div>
    </div>
</section>