<section class="text-dark p-5 test-sm-start bg-light p-lg-5 pt-lg-5">
    <div class="container py-5">
        <p class="text-center text-info">Your Gateway To The Global Economy</p>
        <h1 class="text-center mb-5 fw-bold">Cryptocurrency in <br>
            Every Wallet™</h1>
        <div class="align-items-center">
            <div class="row g-4 mb-2">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card bg-light text-dark h-100">
                        <img src="../../../../assets/images/home-article-1.png" class="card-img-top" alt="img1">
                        <div class="card-body">
                            <h5 class="fw-semibold py-3">Futures Trading Week</h5>
                            <p class="fw-light py-2">BCQ crypto supports a variety of the most popular digital crypto
                                currencies.</p>
                            <a routerLink="" class="btn btn-info text-light">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card bg-light text-dark h-100">
                        <img src="../../../../assets/images/home-article-2.png" class="card-img-top" alt="img1">
                        <div class="card-body">
                            <h5 class="fw-semibold py-3">Token Quartet Giveaway</h5>
                            <p class="fw-light py-2">Binance CEO has advised users to stay away from Crypto.com after it
                                mistakenly sent 320,000 ETH</p>
                            <a routerLink="" class="btn btn-info text-light">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card bg-light text-dark h-100">
                        <img src="../../../../assets/images/home-article-3.png" class="card-img-top" alt="img1">
                        <div class="card-body">
                            <h5 class="fw-semibold py-3">Industry best practices</h5>
                            <p class="fw-light py-2">Hot new metaverse and NFT project RobotEra has now raced past
                                $100,000 in funding as investors flock</p>
                            <a routerLink="" class="btn btn-info text-light">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card bg-light text-dark h-100">
                        <img src="../../../../assets/images/home-article-1.png" class="card-img-top" alt="img1">
                        <div class="card-body">
                            <h5 class="fw-semibold py-3">Trust Wallet Token Pumps 85%
                            </h5>
                            <p class="fw-light py-2">Despite the ongoing uncertainty in the cryptocurrency market,
                                Bitcoin is mostly unchanged, consolidating in a narrow trading range of $15,800 to
                                $17,200. </p>
                            <a routerLink="" class="btn btn-info text-light">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card bg-light text-dark h-100">
                        <img src="../../../../assets/images/home-article-2.png" class="card-img-top" alt="img1">
                        <div class="card-body">
                            <h5 class="fw-semibold py-3">Terra Luna Classic Price Prediction</h5>
                            <p class="fw-light py-2">Terra Luna Classic price prediction is bearish; however, buyers
                                still have hope for a bullish reversal above $0.000169</p>
                            <a routerLink="" class="btn btn-info text-light">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card bg-light text-dark h-100">
                        <img src="../../../../assets/images/home-article-3.png" class="card-img-top" alt="img1">
                        <div class="card-body">
                            <h5 class="fw-semibold py-3">Binance Coin Price Prediction</h5>
                            <p class="fw-light py-2">BThe price of Binance coin (BNB) has fallen to $266.46 today,
                                representing a 2.5% drop in 24 hours. </p>
                            <a routerLink="" class="btn btn-info text-light">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" d-grid col-lg-2 mx-auto mt-4">
                <a class="btn btn-outline-info">Show More</a>
            </div>
        </div>
    </div>
</section>