<section class="bg-light text-dark p-5 p-lg-5 pt-lg-5 test-sm-start"  id="home">
    <div class="container">
        <div class="row d-sm-flex align-items-center justify-content-between">
            <div class="col-lg-6">
                <p class="text-info fw-semibold">Join the our crypto exchange</p>
                <h1 class="fw-bold display-3">Popular way to buy and sell crypto.</h1>
                <p class="load my-4 fw-light">
                    Besnik crypto is the community-run technology powering the cryptocurrency, ether and thousands of decentralized applications.
                </p>
                <a routerLink="" class="btn btn-info text-light px-4">Try Now</a>
            </div>
            <div class="col-lg-6 text-center">
                <img src="../../../../assets/images/home-hero.png" class="img-fluid w-75" alt="">
            </div>
        </div>
    </div>
</section>