<section class="bg-light text-dark p-5 test-sm-start">
    <div class="container min-vh-75">
        <div class="align-items-center py-5">
            <div class="row g-4">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h1 class="fw-bold py-2">We make crypto easy.</h1>
                    <p class="fw-light py-2">Specific cryptocurrencies work and get a bit of  crypto to try out for yourself. Here are a few reasons why you should choose besnik crypto</p>
                    <a routerLink="" class="btn btn-info text-light px-4">Learn More</a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 py-4">
                    <div class="row g-4">
                        <div class="col-lg-6 col-md-23 col-sm-12">
                            <h4 class="fw-semibold"><img src="../../../../assets/images/icon-cloud-data.png" alt="">  Secure Storage</h4>
                            <p class="fw-light ps-5">We store the vast majority of the digital assets in secure offline storage.</p>
                        </div>
                        <div class="col-lg-6 col-md-23 col-sm-12">
                            <h4 class="fw-semibold"><img src="../../../../assets/images/icon-user.png" alt="">  Protected by insurance</h4>
                            <p class="fw-light ps-5">Cryptocurrency stored on our servers is covered by our insurance policy.</p>
                        </div>
                        <div class="col-lg-6 col-md-23 col-sm-12">
                            <h4 class="fw-semibold"><img src="../../../../assets/images/icon-award.png" alt="">  Industry best practices</h4>
                            <p class="fw-light ps-5">Besnik crypto supports a variety of the most popular digital crypto currencies.</p>
                        </div>
                        <div class="col-lg-6 col-md-23 col-sm-12">
                            <h4 class="fw-semibold"><img src="../../../../assets/images/icon-trade.png" alt="">  Secure Storage</h4>
                            <p class="fw-light ps-5">Discover new and innovative crypto assets with over 200 spot trading pairs and 25 margin.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>