<section class="text-dark p-5 test-sm-start bg-light p-lg-5 pt-lg-5">
    <div class="container py-5">
        <div>
            <p class="text-center text-info">About Us</p>
            <h1 class="text-center mb-5 fw-bold display-2"><span class="text-info">BCQ</span> Crypto</h1>
            <p class="text-center fw-light">
                At BCQ Crypto, we believe that everyone should have the freedom to earn, <br> hold, spend, share and
                give their money - no matter who you are or <br> where you come from.
            </p>
        </div>

        <div class="row d-sm-flex align-items-center justify-content-between py-5">
            <h2 class="text-center mb-5 fw-bold">Our Vision & Misson</h2>
            <div class="row align-items-center justify-content-between py-5">
                <div class="col-lg-6">
                    <img class="img-fluid w-75 text-center" src="../../../assets/images/about-vision.png" alt="">
                </div>
                <div class="col-lg-6">
                    <h4 class="fw-semibold">Our Vision</h4>
                    <p>Our vision is to increase the freedom of money globally. We believe that by spreading this freedom,
                        we can significantly improve lives around the world.</p>
                </div>

            </div>

            <div class="row align-items-center justify-content-between py-5">
                <div class="col-lg-6 px-5">
                    <h4 class="fw-semibold">Our Mission</h4>
                    <p>Our mission is to provide the core infrastructure services for organizing the world's crypto.</p>
                </div>
                <div class="col-lg-6 text-center">
                    <img class="img-fluid w-75" src="../../../assets/images/about-mission.png" alt="">
                </div>
            </div>

            <div class="row align-items-center justify-content-between py-5">
                <div class="col-lg-6 text-center">
                    <img class="img-fluid w-75" src="../../../assets/images/about-trusted-section.png" alt="">
                </div>
                <div class="col-lg-6 px-5">
                    <h4 class="fw-semibold">Putting our users first</h4>
                    <p>Users are at the heart of everything we do. From the beginning, we made user protection our top
                        priority. That's why we've embedded state-of-the-art security measures and strict data privacy
                        controls across the entire BCQ ecosystem.</p>
                </div>
            </div>

            <div class="row align-items-center justify-content-between py-5">
                <div class="col-lg-6 px-5">
                    <h4 class="fw-semibold">Working with regulators</h4>
                    <p>We're also committed to meeting the highest standards for regulatory compliance to maintain our
                        responsibility to our users and further build a sustainable path forward for the blockchain
                        industry.</p>
                </div>
                <div class="col-lg-6 text-center">
                    <img class="img-fluid w-75 " src="../../../assets/images/about-fair.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>