<footer class="bg-dark text-light p-4 align-items-center justify-content-between">
    <div class="container">
        <div class="align-items-center">
            <!-- <div class="mb-2">
                <h3><i class="bi bi-calendar-range p-2"></i>All Courses</h3>
            </div> -->
            <div class="row mb-2 py-5 px-5">
              <div class="col-lg-4 col-md-4 col-sm-12 px-5">
                <h2 class="fw-semibold"><span class="text-info fw-bold">BCQ</span> Crypto</h2>
                <p>Through many of its unique properties, Bitcoin allows exciting uses that could not be covered by any previous payment system.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 px-5">
                  <h4>Important Links</h4>
                  <ul class="ms-auto list-inline px-4">
                      <li class="nav-item">
                        <a routerLink="" class="nav-link">Home</a>
                      </li>
                      <li class="nav-item">
                        <a routerLink="/about" class="nav-link">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a routerLink="/article" class="nav-link">Article</a>
                      </li>
                    </ul>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 px-5">
                <h4>Subscribe Us</h4>
                <div class="mb-3">
                  <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-info mb-3 text-light">Subscribe</button>
                </div>
              </div>
            </div>

        </div>
        <p class="text-center">Copyright © 2022 BCQ Crypto<i class="bi bi-copyright "></i></p>
    </div>

</footer>